.header{
    display: flex;
    fill: rgba(225, 32, 133, .5);
    background-image: linear-gradient(to bottom, rgba(22, 22, 22, .1) 0, rgba(22, 22, 22, .8) 75%, #161616 100%), url(../../img/header-2.jpg);
    /* background-image: url("../../img/meninas-afrika.jpg"); */
    height: 450px;
    width: 100vw;
    margin: 0 auto;
    background-size: cover;
    background-position: center; 
}

.header__text-box{
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.header__title {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin: 0; 
}


.header__text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 2px;
}

