.section-voluntario__gray{
    background-color: #f3f3f3;
    height: 570px;
}
.section-voluntarios__box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.section-voluntarios__title{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 2.3rem;
    color: #E64787;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 80px 0 15px 0;
    padding: 58px 0 0 0

}

.section-voluntarios__box-img{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 25px;
}

.img-voluntarios{
    width: 210px;
    border:7px solid #fff;
    box-shadow: -4px 4px 19px #6e6d6d;
}

@media (max-width: 768px) {
  .img-voluntarios{
    width: 100px;
    border:4px solid #fff;
    box-shadow: -2px 2px 10px #6e6d6d;
   }

}

.foto-voluntarios1{
    transform: rotate(-10deg);
}

.foto-voluntarios2{
    transform: rotate(5deg);
}

.foto-voluntarios3{
    transform: rotate(-5deg);
    position: absolute;
    top: 170px;
    left: 185px;
}

.foto-voluntarios4{
    transform: rotate(8deg);
    position: absolute;
    top: 175px;
    left: 400px;
}

.section-voluntarios__text{
    font-family: 'Roboto', sans-serif;
    /* width: 700px; */
    font-size: 0.85rem;
    font-weight: 100;
    line-height: 1.5;
    margin: 0 auto 15px auto;
    text-align: center;
    color: #6e6d6d;
}

.section-voluntarios__list{
    margin-left: 0px;
}

.section-voluntarios__itens{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.5;
    color: #6e6d6d;
}
.mapa-img{
    width: 315px;
}

@media (max-width: 768px) {
    .section-voluntario__gray {
        height: 403px;
    }
    .section-voluntarios__box-img {
        margin: 25px 25px 25px 35px;
    }
    .section-voluntarios__text{
        width: 70%;
    }
    .img-voluntarios{
      width: 120px;
      border:4px solid #fff;
      box-shadow: -2px 2px 10px #6e6d6d;
     }
    .mapa-img{
        width: 100%;
    }
    .foto-voluntarios3{
        display: none;
    }
    
    .foto-voluntarios4{
        display: none;;
    }
    .mapa-area{
            width: 30%;
            margin: 0 30px 0 0;
    }
    .section-voluntarios__list {
        width: 35%;
  }
}

@media (max-width:425px){
    .section-voluntario__gray {
        height: 800px;
    }
    .section-voluntarios__box {
        flex-direction: column-reverse;
    }
    .mapa-area{
        width: 60%;
        margin: 0 auto;
        }
    .section-voluntarios__box-img {
        margin: 25px 25px 25px 35px;
        flex-direction: row;
    }
    .img-voluntarios{
        width: auto;
        height: 77px;
       }
    .section-voluntarios__text{
        width: 80%;
    }
    .section-voluntarios__itens{
        width: 260px;
    }
}