.titulo-box{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    margin: 0; 
    color: #E64787;
    text-transform: uppercase;
}

.titulo-box:hover{
    font-size: 0.9rem;
    opacity: 1;
    transition: 1s;
}

.descricao-box{
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
    color: #6e6d6d;
}

.descricao-box:hover{
    opacity: 1;
    transition: 1s;
}

@media (max-width:425px){
    .descricao-box{
    font-size: 0,5rem;  
    line-height: 1;
    letter-spacing: 0; 
    width: 130px;
    padding: 0; 
    }
}