.cta-btn {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 3px;
    border-radius: 55px;
    padding: 12px 20px;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #1D71B8, #36A9E1);
    box-shadow: 0px 0px 5px rgb(94, 94, 94);

}

.cta-btn:hover {
    transition: 3s;
    background-image: linear-gradient(to right, #f73152, #E12085);
    box-shadow: 0px 0px 5px rgb(94, 94, 94);
}


